.pd-container {
  padding: 60px 14%;
}
@media screen and (max-width: 1600px) {
  .pd-container {
    padding: 60px 8%;
  }
}

@media screen and (max-width: 1200px) {
  .pd-container {
    padding: 48px 4%;
  }
}

@media screen and (max-width: 768px) {
  .pd-container {
    padding: 32px 4%;
  }
}
